*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


textarea {
  resize: vertical;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  // transition: opacity 0.3s;
}


// -------------------------------------
// 以下ConcreteCMSで影響出るためコメントアウト
// -------------------------------------
/* Blur images when they have no alt attribute */
// img:not([alt]) {
//   filter: blur(10px);
// }

/* フォームリセット */
// input,
// button,
// select,
// textarea {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   background: transparent;
//   border: none;
//   border-radius: 0;
//   font: inherit;
//   outline: none;
// }

// select::-ms-expand {
//   display: none;
// }