*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

li {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  // スムーススクロール
  // scroll-behavior: smooth;
  // スマートフォン横向き時のテキストの拡大を防ぐ
  -webkit-text-size-adjust: 100%; /* Safariではまだベンダープレフィックスが必要 */
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
  word-break: normal;
  line-break: strict;
}

main {
  flex: 1;
}

ul,
ol {
  list-style-type: '';
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
select,
label,
summary,
[role='tab'],
[role='button'] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

:where(button, [type='button'], [type='reset'], [type='submit']) {
  touch-action: manipulation;
}

// -------------------------------------
// 以下ConcreteCMSで影響出るためコメントアウト
// -------------------------------------
/* Blur images when they have no alt attribute */
// img:not([alt]) {
//   filter: blur(10px);
// }

/* フォームリセット */
// input,
// button,
// select,
// textarea {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   background: transparent;
//   border: none;
//   border-radius: 0;
//   font: inherit;
//   outline: none;
// }

// select::-ms-expand {
//   display: none;
// }