@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

/********************************
* フォント
********************************/
$base-font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", Meiryo, sans-serif;
// $base-font-family: "Noto Serif JP", serif;
// $sub-font-family: "Zen Maru Gothic", sans-serif;

// フォントウェイト
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$ex-bold: 800;

/********************************
* カラー
********************************/
$base-color: #666;
$base-background: #fff;
$back: #333;
$black: #333;
$white: #fff;

/********************************
* z-index
********************************/
$header: 100;
$hamburger: 103;
$drawer: 102;
$drawer-back: 101;
$page-top: 99;

body {
  font-weight: $normal;
  color: $base-color;
  background: $base-background;
  line-height: 1.5;
  // footerを最下部に持ってくる仕様
  display: flex;
  flex-direction: column;
}

main {
  // footerを最下部に持ってくる仕様
  flex: 1;
}

/* 背景固定用CSS */
.is-screen-locked {
  overflow: hidden;
}
