---
const { page = "top" } = Astro.props;
import Header from "../common/Header.astro";
const { title, desc } = Astro.props;
import "../sass/styles.scss"
// https://docs.astro.build/ja/guides/view-transitions/
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={desc} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    
    <Header page={page} />
    <main class="main">
      <slot />
    </main>
  </body>
</html>
